<h1> Welcome to fARmer! </h1>

<div class="greeting">
    We are a groundbreaking new product that makes urban gardening easy and fun.
    By technology such as augmented reality, you and your neighbors can plan out your
    garden easily and quickly. 
</div>

